.main-container {
  padding-top: 1rem;
}

.title {
  margin-bottom: 3rem;
  color: var(--red);
}

.tasklist-container {
  margin-bottom: 3rem;
}

.task__description {
  margin-bottom: 1rem;
}

.task__code-btn {
  margin-bottom: 1rem;
}

.task__live {
  display: flex;
  flex-direction: column;
}

.task__output {
  flex: 1;
}

.task__output--full-width {
  flex-basis: 100%;
}

.task__method {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.method__name {
  flex-basis: 10rem;
}

.method__input-row {
  flex: 3;
  display: flex;
  align-items: flex-start;
}

.method__input {
  width: 150px;
}

.method__input--area {
  width: initial;
  min-width: 250px;
  min-height: 150px;
}

.task-live {
  margin-bottom: 2rem;
}
